.db-l {
    float: left;
    width: 25%;
    padding-right: 40px;
}

.db-l-1 {
    position: relative;
    overflow: hidden;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(218, 218, 218);
    box-shadow: rgba(224, 224, 224, 0.8) 0px 2px 4px;
    border-radius: 4px;
}

.db-l-1 ul {
    padding: 0px;
}

.db-l-1 ul li {
    color: rgb(173, 173, 173);
    list-style-type: none;
    text-align: center;
}

.db-l-1 ul li span {
    display: block;
    font-size: 32px;
    font-weight: 500;
    line-height: 30px;
    color: rgb(33, 37, 43);
}

.db-l-1 ul li:nth-child(1) {
    width: 100%;
    float: left;
}

.db-l-1 ul li:nth-child(1) img {
    width: 100%;
}

.db-l-1 ul li:nth-child(2) {
    width: 50%;
    float: left;
    padding: 20px 10px;
}

.db-l-1 ul li:nth-child(3) {
    width: 50%;
    float: left;
    padding: 20px 10px;
}

.db-l-2 {
    position: relative;
    overflow: hidden;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(218, 218, 218);
    padding: 20px;
    margin-top: 12px;
    box-shadow: rgba(224, 224, 224, 0.8) 0px 2px 4px;
    border-radius: 4px;
}

.db-l-2 ul {
    padding: 0px;
}

.db-l-2 ul li {
    border-bottom: 1px solid rgb(234, 237, 239);
    padding: 12px 0px;
    list-style-type: none;
}

.db-l-2 ul li:last-child {
    border-bottom: 0px solid rgb(220, 220, 220);
    padding: 12px 0px 0px;
}

.db-l-2 ul li a {
    color: rgb(51, 51, 51);
}

.db-l-2 ul li a:hover {
    color: rgb(51, 51, 51);
    padding-left: 8px;
}

.db-l-2 ul li a img {
    width: 20px;
    margin-right: 8px;
}
.card-header{
    background-color:  var(--primary-300)!important;
}



