<div class="container d-flex ps-5 ms-5">
  <div class="db-l pt-3">
    <div class="db-l-1">
      <ul>
        <li><ng-lottie [options]="options"></ng-lottie></li>
        <li>Hey,</li>
        <li>{{ userDetail.name }}</li>
      </ul>
    </div>
    <div class="db-l-2">
      <ul>
        <li>
          <a><img src="assets/images/dbl1.png" alt="" /> All Bookings</a>
        </li>

        <li>
          <a><img src="assets/images/dbl6.png" alt="" /> My Profile</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="pt-3 ps-5" >
  <div class="pb-3">
    <div class="card pb-4" style="width: 700px;">
      <div class="card-header">
        My Profile
      </div>
      <div class="card-body">
        <table class="Booking-table">
          <tbody>
            <tr class="pb-2">
              <td>User Name</td>
              <td>:</td>
              <td>{{ userDetail.name }}</td>
            </tr >
            <tr class="pb-2">
              <td>Email</td>
              <td>:</td>
              <td>{{ userDetail.username }}</td>
            </tr>
            <tr class="pb-2">
              <td>Phone</td>
              <td>:</td>
              <td>{{ userDetail.phoneNumber }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div> 
  </div>
    <div class="card">
      <div class="card-header">
        Travel Booking
      </div>
      <div class="card-body">
        <table class="Booking-table table table-striped">
          <thead>
            <tr>
              <th>tour</th>
              <th>username</th>
              <th>phoneNumber</th>
              <th>price</th>
              <th>bookingStatus</th>
              <th>Ordered At</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let b of bookings">
              <td>{{ b.tour }}</td>
              <td>{{ b.username }}</td>
              <td>{{ b.phoneNumber }}</td>
              <td>{{ b.price }}</td>
              <td>{{ b.bookingStatus }}</td>
              <td>{{ b.createdAt }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

 
   

  </div>
 
</div>
