

<div class="login-popup">
 <div style="padding-left: 450px;padding-top: 100px;padding-bottom: 100px;padding-right: 450px;">
  <div class="login-popup-content shadow-lg mb-5 bg-white rounded" >
    <div class="ps-5 ms-5">
      <img
        src="assets/svg/logo.svg"
        width="150px"
        height="100px"
        alt=""
        style="color: white"
      />
    </div>

    <div class="ps-5">
     
      <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
        <div class="form-outline">
          <label class="form-label" for="username">Username</label>
          <input
            type="text"
            class="form-control"
            name="username"
            [(ngModel)]="username"
            #usernameInput="ngModel" 
            required 
          />
         
          <div *ngIf="usernameInput.invalid && (usernameInput.dirty || usernameInput.touched)">
            <small class="text-danger">Username is required</small>
          </div>
        </div>
      
        <div class="form-outline">
          <label class="form-label" for="password">Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            [(ngModel)]="password"
            #passwordInput="ngModel"  
            required 
          />
         
          <div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)">
            <small class="text-danger">Password is required</small>
          </div>
        </div>
      
        <div>
          <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>
        </div>
      
        <div class="d-flex align-items-center">
          <span>Not registered?</span>
          <a
            routerLink="/register"
            class="text-primary text-decoration-none"
            style="color: rgb(57, 92, 121)"
          >Register here</a>
        </div>
      
        <p class="error" [ngClass]="error.length > 0 ? 'visible' : 'invisible'">
          {{ error }}
        </p>
      </form>
      
    </div>
  </div>
 </div>
</div>
