
<div class="row">
    <header class="navbar bg-primary border-bottom br p-2">
        <div class="p-0">
            <a class="navbar-brand text-uppercase text-white" href="#">
              <img src="assets/svg/logo.svg"
               width="150px"
               height="55px"
              />
            </a>
            </div>
      <div class="navbar-nav px-4" (click)="logout()" role="button">
        <i class="fa-solid fa-solid fa-right-from-bracket"></i>
      </div>
    </header>
  </div>