
<div class="row">
    <header class="navbar sticky-top bg-primary p-2 shadow">
        <div class="p-0">
            <a class="navbar-brand text-uppercase text-white" href="#">
              <img src="assets/HappyJourney-logos_white.png"
               width="150px"
               height="75px"
              />
            </a>
            </div>
      <div class="navbar-nav px-4 text-white" (click)="logout()" role="button">
        <i class="fa-solid fa-solid fa-right-from-bracket text-white"></i>
      </div>
    </header>
  </div>