<div class="row footer">
  <div class="row d-flex">
    <div class="col-4 pt-5 ps-5">
      <div class="pt-5 ps-5">
        <img src="assets/svg/logo.svg" alt="" />
      </div>
      <div class="social-links pt-5 ps-5">
        <div class="d-flex">
          <div>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
          </div>
          <div class="ps-2">
            <a href="#"><i class="fab fa-twitter"></i></a>
          </div>
          <div class="ps-2">
            <a href="#"><i class="fab fa-youtube"></i></a>
          </div>
          <div class="ps-2">
            <a href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 pt-5 mt-5">
      <h5 class="text-bold">Quick links</h5>
      <div class="links">
        <ul>
          <li><a href="#">About us</a></li>
          <li><a href="#">News & press</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">FAQs</a></li>
          <li><a href="#">Careers</a></li>
        </ul>
      </div>
    </div>
    <div class="col-4 pt-5 mt-5">
      <h5 class="text-bold">Address</h5>
    </div>
  </div>
</div>

<div class="row footer-bottom text-center">
  <div class="p-3">
    Copyright &copy; 2022 Treker. All Rights Reserved. Designed by ThemeIM
  </div>
</div>
