
  <section class="footer-two">
    <div
      class="bg-layer"
      style="background-image: url(images/background/footer-bg.png)"
    ></div>
    <div class="upper-section">
      <div class="auto-container">
        <div class="row clearfix">
          <div class="footer-column pe-5 col-xl-4 col-lg-12 col-md-12 col-sm-12">
            <div>
              <img src="assets/svg/logo.svg" alt="">
            </div>
            <div class="social-links">
              <ul class="clearfix">
                <li>
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-youtube"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                </li>
              </ul>
            </div>
          </div>

          <div class="big-column col-xl-8 col-lg-12 col-md-12 col-sm-12">
            <div class="row clearfix">

              <div class="footer-column col-lg-3 col-md-4 col-sm-12">
                <h6>Quick lInks</h6>
                <div class="links">
                  <ul>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">News & press</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">FAQs</a></li>
                    <li><a href="#">Careers</a></li>
                  </ul>
                </div>
              </div>

              <div class="info-block col-lg-6 col-md-4 col-sm-12">
                <h6>Address</h6>
                <div class="info">
                  <ul>
                    <li>
                      Europe 45 Gloucester Road London DT1M 3BF
                      <a href="tel:+44(0)2036715709">+44 (0)20 3671 5709</a>
                    </li>
                    <li>
                      Europe 45 Gloucester Road London DT1M 3BF
                      <a href="tel:+44(0)2036715709">+44 (0)20 3671 5709</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="f-bottom">
      <div class="auto-container">
        <div class="inner clearfix">
          <div class="copyright">
            Copyright &copy; 2022 Treker. All Rights Reserved. Designed by
            ThemeIM
          </div>
        </div>
      </div>
    </div>
  </section>

