<div class="row footer">
  <div class="row d-flex">
    <div class="col-3 pt-5 ps-5">
      <div class="pt-5 ps-5">
        <img src="assets/svg/logo.svg" alt="" />
      </div>
      <div class="social-links pt-5 ps-5">
        <div class="d-flex">
          <div>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
          </div>
          <div class="ps-2">
            <a href="#"><i class="fab fa-twitter"></i></a>
          </div>
          <div class="ps-2">
            <a href="#"><i class="fab fa-youtube"></i></a>
          </div>
          <div class="ps-2">
            <a href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3 pt-5 mt-5">
      <h5 class="text-bold ps-5">Quick links</h5>
      <div class="links ps-5">
        <ul>
          <li><a href="#">About us</a></li>
          <li><a href="#">News & press</a></li>
          <li><a routerLink="/blog">Blog</a></li>
          <li><a href="#">FAQs</a></li>
          <li><a href="#">Careers</a></li>
        </ul>
      </div>
    </div>
    <div class="col-3 pt-5 mt-5">
      <h5 class="text-bold">Gallery</h5>
      <div class="d-flex">
        <div class="d-flex-column">
          <div> <img src="assets/images/gallery-1.jpg" width="80px" height="75px" alt=""></div>
          <div><img src="assets/images/gallery-2.jpg" width="80px" height="75px" alt=""></div>
        </div>
        <div class="d-flex-column">
          <div><img src="assets/images/gallery-3.jpg" width="80px" height="75px" alt=""></div>
          <div><img src="assets/images/gallery-4.jpg" width="80px" height="75px" alt=""></div>
        </div>
      </div>
    </div>
    <div class="col-3 pt-5 mt-5">
      <h5 class="text-bold">Address</h5>
      <p><i class="fas fa-home me-3"></i> Chennai, 600096, TN</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            info@example.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 91 6787678798</p>
          <p><i class="fas fa-print me-3"></i> + 91 8998788767</p>
    </div>
  </div>
  
</div>

<div class="row footer-bottom text-center">
  <div class="p-3">
    Copyright &copy; 2023 Treker. All Rights Reserved.
  </div>
</div>
