.dest-section {
  position: relative;
}

.dest-section .floated-icon {
  position: absolute;
}

.dest-section .floated-icon.left {
  left: 100px;
  bottom: 45%;
}

.dest-section .floated-icon.right {
  right: 100px;
  top: 70px;
}

.dest-section .title-box {
  max-width: 900px;
  margin-bottom: 40px;
}

.dest-section .load-more {
  position: relative;
  text-align: center;
  margin-top: 10px;
}
.dest-block {
  position: relative;
  margin-bottom: 50px;
}

.dest-block .inner-box {
  position: relative;
  display: block;
  background: #101010;
  padding: 0 0;
  border-radius: 8px;
  overflow: hidden;
}

.dest-block .image-box {
  position: relative;
}

.dest-block .image-box .image {
  position: relative;
  background: #101010;
  border-radius: 8px 8px;
  overflow: hidden;
}

.dest-block .image-box .image img {
  position: relative;
  width: 100%;
  border-radius: 8px 8px;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.dest-block .inner-box:hover .image img {
  opacity: 0.75;
}

.dest-block .title {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  padding: 0 20px 30px 30px;
  line-height: 30px;
}

.dest-block .title h4 {
  position: relative;
  float: left;
  color: #ffffff;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 30px;
  margin: 10px 0;
}

.dest-block .title h4 a {
  color: #ffffff;
}

.dest-block .title .more-link {
  position: relative;
  float: right;
}

.dest-block .title .more-link a {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 50%;
}

.dest-block .title .more-link a:hover {
  color: #ffffff;
  border-color: #1dc5ce;
  background: #1dc5ce;
}

.dest-block .title:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 130px;
  background: rgba(0, 0, 0, 0.3);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #10221b 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #10221b 100%);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #10221b 100%);
}
