<div class="add-tour-container">
  <div class="d-flex justify-content-between">
    <div
      class="add-tour-button text-center"
      routerLink="/addtour"
      style="width: 60px; height: 40px"
    >
      <div class="pt-1">+Add</div>
    </div>
    <div class="">
      <div class="count">Total tours:{{ tourCount }}</div>
    </div>
   
  </div>
  <hr />
  <div class="row">
    <div class="col-4 pt-3 mt-4" *ngFor="let tour of tours">
      <div class="card profile-card-5">
        <div class="card-img-block">
          <img
            class="card-img-top"
            src="{{
              'http://localhost:8080/api/admin/tour/downloadFile/' + tour.id
            }}"
            width="400px"
            height="200px"
          />
          <!-- {{"http://localhost:8080/api/admin/category/downloadFile/"+ destination.id  }} -->
        </div>
        <div class="card-body pt-0">
          <h5 class="card-title">
            Tour Id:{{ tour.id }}<br />
            TourName:{{ tour.tourName }}<br />
            Price:{{ tour.price }}<br />
            TotalSeats:{{ tour.totalSeats }}<br />
            Days:{{ tour.days }}<br />
            Date:{{ tour.departureDate }}<br />
          </h5>
        </div>

        <div class="d-flex pb-3 justify-content-evenly">
          <div
            type="button"
            class="btn btn-danger"
            (click)="deleteTour(tour.id!)"
          >
            <i class="fa fa-close"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
