<div class="row">
  <navbar *ngIf="!isLoggedIn"></navbar>
  <div class="main">
    <div>
      <h2
        style="font-size: 40px; color: #ffffff; text-align: center"
        class="pt-5 mt-5"
      >
        <b>The Easiest Way to Get tours you interested</b>
      </h2>
      <p
        style="font-size: 20px; color: #ffffff; text-align: center"
        class="pt-4"
      >
        Find tours, book tour online and  with more options.
      </p>
    </div>
    <div class="d-flex pb-5" style="padding-left: 250px;">
      <div class="container justify-content-center pb-5">
        <form name="hb-search-form" id="tourBookingFormSearch">
          <div class="d-flex pb-5" style="padding-top: 100px">
            <div class="d-flex ps-5 ms-5">
              <select
                class="form-control"
                [(ngModel)]="selectedCategoryId!"
                name="destination"
                (change)="onCategoryChange()"
              >
                <option value="0">Destination</option>
                <option *ngFor="let c of categories" [value]="c.id!">
                  {{ c.categoryName }}
                </option>
              </select>
            </div>
            <div class="d-flex ps-3">
              <select class="form-control text-black" [(ngModel)]="tourId" name="tour">
                <option value="0">Tour Name</option>
                <option *ngFor="let tour of filteredTours" [value]="tour.id">
                  {{ tour.tourName }}
                </option>
              </select>
            </div>

            <div class="ps-3">
              <button
                type="submit"
                class="form-control btn1"
                (click)="searchTours()"
                [disabled]="selectedCategoryId === 0 && tourId === 0"
              >
                Search Tours
              </button>
            </div>
          </div>
        </form>
      </div>
  
    </div>
  </div>
  <!--  -->
  <section class="trending-destinations">
    <div class="auto-container">
      <div class="title-box centered">
        <div class="subtitle pt-4">Top Destinations</div>
        <h2><i class="bg-vector"></i><span>Trending Destinations</span></h2>
      </div>

      <div class="gallery-box" style="padding-left: 50px;padding-right: 50px;">
        <div class="masonry-container row clearfix" style="position: relative">
          <!--Block-->
          <div
            class="dest-block-one masonry-item col-lg-6 pb-3 col-md-12 col-sm-12"
            *ngFor="let c of categories"
          >
            <div class="inner-box" (click)="navigateToDesTours(c.id!)">
              <div class="image-box">
                <a (click)="navigateToDesTours(c.id!)"
                  ><img src="{{'http://localhost:8080/api/admin/category/downloadFile/'+ c.id  }}" width="200px"
                  height="300px" alt=""
                /></a>
              </div>
              <div class="hvr-box">
                <div class="cap-box">
                  <div class="cap-inner clearfix">
                    <h4>
                      <a class="text-decoration-none ps-2 pe-2" (click)="navigateToDesTours(c.id!)">{{
                        c.categoryName
                      }}</a>
                    </h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--  -->
  <section class="why-section">
    <div class="floated-icon left">
      <img src="assets/svg/stones-left.svg" alt="" title="" />
    </div>
    <div class="floated-icon right">
      <img src="assets/svg/stones-right.svg" alt="" title="" />
    </div>

    <div class="auto-container">
      <div class="title-box centered">
        <div class="subtitle">We Are Awesome</div>
        <h2><i class="bg-vector"></i><span>Why Choose Treker</span></h2>
      </div>

      <div class="row clearfix">
        <div class="left-col ps-5 col-xl-3 col-lg-4 col-md-6 col-sm-12">
          <div class="inner">
            <div class="why-block">
              <div class="inner-box">
                <div class="icon-box">
                  <img src="assets/svg/icon-1.svg" alt="" />
                </div>
                <h4>Diverse Destinations</h4>
                <div class="text">
                  Richly varied landscapes, luxury accommodation Travel.
                </div>
              </div>
            </div>
            <div class="why-block">
              <div class="inner-box">
                <div class="icon-box">
                  <img src="assets/svg/icon-2.svg" alt="" />
                </div>
                <h4>Value for Money</h4>
                <div class="text">
                  Richly varied landscapes, luxury accommodation Travel.
                </div>
              </div>
            </div>
            <div class="why-block">
              <div class="inner-box">
                <div class="icon-box">
                  <img src="assets/svg/icon-3.svg" alt="" />
                </div>
                <h4>Beautiful Places</h4>
                <div class="text">
                  Richly varied landscapes, luxury accommodation Travel.
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="right-col col-xl-3 col-lg-4 col-md-6 col-sm-12">
          <div class="inner">
            <div class="why-block">
              <div class="inner-box">
                <div class="icon-box">
                  <img src="assets/svg/icon-4.svg" alt="" />
                </div>
                <h4>Fast Booking</h4>
                <div class="text">
                  Richly varied landscapes, luxury accommodation Travel.
                </div>
              </div>
            </div>
            <div class="why-block">
              <div class="inner-box">
                <div class="icon-box">
                  <img src="assets/svg/icon-5.svg" alt="" />
                </div>
                <h4>Support Team</h4>
                <div class="text">
                  Richly varied landscapes, luxury accommodation Travel.
                </div>
              </div>
            </div>
            <div class="why-block">
              <div class="inner-box">
                <div class="icon-box">
                  <img src="assets/svg/icon-6.svg" alt="" />
                </div>
                <h4>Passionate Travel</h4>
                <div class="text">
                  Richly varied landscapes, luxury accommodation Travel.
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="image-col pe-5 col-xl-6 col-lg-4 col-md-12 col-sm-12">
          <div class="inner">
            <div class="image-box">
              <img src="assets/svg/why-image-1.svg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--  -->
  <section class="subscribe-section pe-5 ps-5">
    <div class="auto-container">
      <div class="content-box">
        <div
          class="bg-layer"
          style="background-image: url(assets/images/newsletter-bg.png)"
        ></div>
        <div class="row clearfix">
          <div class="image-col col-xl-5 col-lg-6 col-md-12 col-sm-12">
            <div class="inner">
              <div class="image">
                <img src="assets/svg/newsletter-image.svg" alt="" />
              </div>
            </div>
          </div>

          <div class="text-col col-xl-7 col-lg-6 col-md-12 col-sm-12">
            <div class="inner">
              <div class="title">
                <div class="subtitle">Newsletter</div>
                <h2>SUBSCRIBE NOW</h2>
                <div class="text">
                  Fight School has specialized in martial arts since 1986 and
                  has one of the most innovative programs in the nation.
                </div>
              </div>
              <div class="form-box subscribe-form">
                <form>
                  <div class="form-group">
                    <div class="field-inner">
                      <span class="icon alt-icon far fa-envelope"></span>
                      <input
                        type="email"
                        name="email"
                        value=""
                        placeholder="Email Address"
                      />
                    </div>
                    <button type="submit" class="theme-btn btn-style-one">
                      <span
                        >SUBSCRIBE <i class="icon fa fa-paper-plane"></i
                      ></span>
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer></footer>
  <!-- back to top -->
  <div
    class="to-top"
    style="padding-top: 200px; padding-left: 175px"
    (click)="scrollToTop()"
  >
    <img src="assets/images/up-arrow.png" width="50px" height="50px" alt="" />
  </div>
</div>
