.lottie {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  padding-bottom: 70px;
}
:host {
  padding-bottom: 10px;
  display: block;
  height: 520px; /* Set the desired height for the scrollable area */
  overflow: auto;
  overflow-x: hidden; /* Enable vertical scrolling */
  /* border: 1px solid #ccc; Optional: Add a border for visual clarity */
}
/* Styling for the scrollbar */
:host::-webkit-scrollbar {
  width: 12px; /* Set the width of the scrollbar */
}

:host::-webkit-scrollbar-thumb {
  background-color: #c7e8ea; /* Set the color of the thumb */
  border-radius: 6px; /* Set the border radius of the thumb */
}

:host::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Set the color of the track */
}



.table-desi {
  margin-top: 20px;
  border-radius: 5px;
}

.Booking-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  
}

.Booking-table th,
.Booking-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #dee2e6;
}

.Booking-table th {
  background-color:var(--primary-300) !important;
  color: black;
}



