.lottie {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  padding-bottom: 70px;
}
:host {
  padding-bottom: 10px;
  display: block;
  height: 630px; 
  overflow: auto;
  overflow-x: hidden; 
}

:host::-webkit-scrollbar {
  width: 12px; 
}

:host::-webkit-scrollbar-thumb {
  background-color: #c7e8ea; 
  border-radius: 6px; 
}

:host::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Set the color of the track */
}







