
<div *ngIf="totalBookings">
  <div  class="card-body body">
    <div class="table-responsive table-desi">
      <table class="Booking-table table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Tour</th>
            
            <th>Name</th>
            <th>Username</th>
            <th>PhoneNumber</th>
            <th>Price</th>
            <th>BookingStatus</th>
            <th>Ordered At</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let b of bookings">
            <td>{{ b.id }}</td>
            <td>{{ b.tour }}</td>
            
            <td>{{ b.name }}</td>
            <td>{{ b.username }}</td>
            <td>{{ b.phoneNumber }}</td>
            <td>{{ b.price | currency:'INR':'symbol':'1.0-0'  }}</td>
            <td>{{ b.bookingStatus }}</td>
            <td>{{ b.createdAt | date:'MM-dd-yyyy'}}</td>
          </tr>
          <!-- Add more table rows as needed -->
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="lottie">
  <div *ngIf="!totalBookings" >
    <ng-lottie [options]="options"></ng-lottie>
  </div>
</div>
  
