<div class="row">
  <section class="inner-banner">
    <div
      class="image-layer"
      style="background-image: url(assets/images/banner-image-1.jpg)"
    ></div>
    <div class="auto-container">
      <div class="content-box">
        <h2>Blog</h2>
        <div class="bread-crumb">
          <ul class="clearfix">
            <li><i class="icon-home fa fa-home"></i><a>Home</a></li>
            <li class="current">>Blog</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <div class="row pt-5">
    <div class="col-2"></div>
    <div class="col-4">
      <img src="assets/images/news-1.jpg" width="300px" height="300px" alt="" />
    </div>
    <div class="col-6 pt-3">
      <h5>
        Thanjavur is a city in the south Indian state of Tamil Nadu. Its many
        temples include the 11th-century Brihadeeswarar Temple, a vast Chola
        dynasty–era complex with a frescoed interior. <br><br> Maratha Palace
        is home to the centuries-old Saraswathi Mahal Library, with palm-leaf
        manuscripts, and Thanjavur Art Gallery, with bronze statues. Tamil
        University Museum displays coins, folk artifacts and musical
        instruments.
      </h5>
    </div>
  </div>
  <div class="row"></div>
  <div>
    <footer></footer>
  </div>
</div>
