.nav-link {
  font-weight: bold;
  color: #2d2c2b;
}

.bg-primary {
  background-color: var(--primary-300) !important;
}
.bg {
  background-color: white;
}
.actived {
  color: var(--primary-300) !important;
}
.nav-link:hover {
  color: var(--primary-300) !important;
}
.fa-solid {
  color: #2d2c2b;
}
.fa-solid:hover {
  color: var(--primary-300) !important;
}
/* styles.css */
.navbar-fixed {
  padding: 10px;

  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}
