<div class="row">
  <div class="navbar navbar-expand-lg bg-primary shadow" *ngIf="!isLoggedIn">
    <div class="d-flex">
      <div class="nav-item ps-5">
        <div class="d-flex ps-5">
          <a
            class="nav-link text-uppercase text-white"
            routerLink="/login"
            routerLinkActive="active"
            >Login</a
          >
          <a
            class="nav-link text-uppercase text-white"
            routerLink="/register"
            routerLinkActive="active"
            >/Register</a
          >
        </div>
      </div>
    </div>
  </div>
  <div
    class="navbar navbar-expand-lg bg shadow d-flex justify-content-between navbar-fixed"
  >
    <div>
      <a class="nav-link text-uppercase" href="#">
        <img src="assets/svg/logo.svg" width="120px" height="55px" />
      </a>
    </div>

    <div class="navbar-nav pe-5 me-5">
      <div class="nav-item px-4">
        <a
          class="nav-link text-uppercase"
          routerLink="/"
          routerLinkActive="actived"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Home
        </a>
      </div>
      <div class="nav-item px-4" routerLinkActive="actived">
        <a
          class="nav-link text-uppercase"
          (click)="navTour()"
          routerLink="/alltour"
          routerLinkActive="actived"
        >
          Tours
        </a>
      </div>
      <div class="nav-item px-4" routerLinkActive="actived">
        <a
          class="nav-link text-uppercase"
          (click)="navDes()"
          routerLink="/alldestination"
          routerLinkActive="actived"
        >
          Destinations
        </a>
      </div>
      <div class="nav-item px-4" routerLinkActive="actived">
        <a
          class="nav-link text-uppercase"
          routerLink="/blog"
          routerLinkActive="actived"
        >
          Blog
        </a>
      </div>
      
    </div>
    <div class="d-flex pt-3">
      <div class="pe-3">
        <p style="font-weight: bold;">Hi,<br>
           {{ user }}</p>
      </div>
      <div class="nav-link pe-4" routerLink="/myaccount">
        <i class="fa-solid fa-user"></i>
      </div>
      <div class="log text-uppercase pe-5" (click)="logout()" role="button">
        <i class="fa-solid fa-power-off"></i>
      </div>
    </div>
  </div>
</div>
