<div class="block-header">
  <div class="row clearfix">
    <div class="col-lg-5 col-md-5 col-sm-12">
      <h2>Dashboard</h2>
      <ul class="breadcrumb padding-0">
        <li class="breadcrumb-item">
          <a href="index.html"><i class="fa fa-home"></i></a>
        </li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ul>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-12">
      <div class="input-group m-b-0">
        <input type="text" class="form-control" placeholder="Search..." />
        <span class="input-group-addon">
          <i class="fa fa-search"></i>
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-3">
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div
              class="align-items-center bg-light-success btn btn-lg d-flex fs-6 justify-content-center round round-lg rounded-circle text-success"
            >
            <i class="fa-light fa-wallet"></i>
            </div>
            <div class="ms-3">
              <h3 class="mb-0 font-weight-bold">$21k</h3>
              <small class="text-muted fs-3">Yearly Earning</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div
              class="align-items-center bg-light-danger btn btn-lg d-flex fs-6 justify-content-center round round-lg rounded-circle text-danger"
            >
              <i class="bi bi-coin"></i>
            </div>
            <div class="ms-3">
              <h3 class="mb-0 font-weight-bold">$1k</h3>
              <small class="text-muted fs-3">Refund given</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div
              class="align-items-center bg-light-warning btn btn-lg d-flex fs-6 justify-content-center round round-lg rounded-circle text-warning"
            >
              <i class="bi bi-basket3"></i>
            </div>
            <div class="ms-3">
              <h3 class="mb-0 font-weight-bold">456</h3>
              <small class="text-muted fs-3">Yearly Project</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div
              class="align-items-center bg-light-info btn btn-lg d-flex fs-6 justify-content-center round round-lg rounded-circle text-info"
            >
              <i class="bi bi-bag"></i>
            </div>
            <div class="ms-3">
              <h3 class="mb-0 font-weight-bold">210</h3>
              <small class="text-muted fs-3">Weekly Sales</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!---->
  </div>
</div>
