<div class="row pt-5 ps-5 pb-5 ms-5">
  <div class="col-1"></div>
  <div class="col-6 d-flex justify-content-evenly card">
    <div class="icon-container"><i class="fa-regular fa-user"></i></div>
    <div>Customers</div>
  </div>
  <div class="col-1"></div>
  <div class="col-6 d-flex justify-content-evenly card">
    <div class="icon-container"><i class="fa-regular fa-user"></i></div>
    <div>Customers</div>
  </div>
 
</div>
<div class="row ps-5 ms-5">
  <div class="col-1"></div>
  <div class="col-4 d-flex justify-content-evenly card">
    <div class="icon-container"><i class="fa-regular fa-user"></i></div>
    <div>Customers</div>
  </div>
  <div class="col-1"></div>
  <div class="col-4 d-flex justify-content-evenly card">
    <div class="icon-container"><i class="fa-regular fa-user"></i></div>
    <div>Customers</div>
  </div>
</div>