<div class="row">
  <section class="inner-banner">
    <div
      class="image-layer"
      style="background-image: url(assets/images/banner-image-1.jpg)"
    ></div>
    <div class="auto-container">
      <div class="content-box pt-5 mt-5">
        <h2>Tour</h2>
      </div>
    </div>
  </section>
  <div class="pt-3">
    <div class="fs-3 text-center">
      {{ tour.tourName }}
    </div>
  </div>
  <div class="d-flex p-0">
    <div
      class="ps-5 ms-5 pt-3"
      style="padding-left: 100px; padding-right: 50px"
    >
      <img
        src="{{
          'http://localhost:8080/api/admin/tour/downloadFile/' + tour.id
        }}"
        width="600px"
        alt=""
      />
    </div>
    <div class="ps-5 ms-5 pt-5">
      <div class="package-info-box style-two">
        <div class="inner-container">
          <!-- Package Info Block -->
          <div class="package-info-block">
            <div class="inner-box d-flex justify-content-evenly pb-4 pt-5">
              <div class="icon pe-5">
                <img src="assets/svg/duration.svg" alt="" />
              </div>
              <div><strong>Duration</strong></div>
              <div class="ps-5">{{ tour.days }} Days</div>
            </div>
          </div>

          <!-- Package Info Block -->
          <div class="package-info-block">
            <div class="inner-box d-flex justify-content-evenly pb-4">
              <div class="icon pe-5">
                <img src="assets/svg/category-icon.svg" alt="" />
              </div>
              <div><strong>Destination</strong></div>
              <div class="ps-5">{{ tour.destination }}</div>
            </div>
          </div>
          <div>
            Date:{{ tour.departureDate }}<br />
            AvailableSeats:{{ tour.balanceSeats }}
          </div>
          <div>
            <div class="price">{{ tour.price | currency:'INR':'symbol':'1.0-0' }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex pb-5 justify-content-between pt-5">
    <div>
      <div class="ps-5 ms-5" style="width: 600px; height: 300px">
        <h5>About {{ tour.tourName }}</h5>
        <p>
          {{ tour.tourDescription }}
        </p>
      </div>
      <div class="pb-5">
        <h3 class="ps-5 ms-5">Itinenaraies</h3>
        <div
          class="ps-5 ms-5"
          style="width: 650px"
          *ngFor="let i of tour.itineraryList"
        >
          <div
            class="d-flex align-items-center mt-3"
            style="background-color: #1dc5ce; height: 40px; width: 100%"
            (click)="toggleItinerary(i.day)"
          >
            <span
              class="mx-3"
              style="color: white; font-weight: bold; cursor: pointer"
            ></span>
            <span style="color: white">Day-{{ i.day }}</span>
          </div>
          <div
            *ngIf="isItineraryVisible[i.day]"
            style="padding: 20px"
            class="border border-1 border-dark toggle-content"
          >
            <table>
              <tbody>
                <tr>
                  <td class="key">Hotel&nbsp;</td>
                  <td class="value">-&nbsp;{{ i.hotel }}</td>
                </tr>
                <tr>
                  <td class="key">Morning&nbsp;</td>
                  <td class="value">-&nbsp;{{ i.morning }}</td>
                </tr>
                <tr>
                  <td class="key">BreakFast&nbsp;</td>
                  <td class="value">-&nbsp;{{ i.breakfast }}</td>
                </tr>
                <tr>
                  <td class="key">Afternoon&nbsp;</td>
                  <td class="value">-&nbsp;{{ i.afternoon }}</td>
                </tr>
                <tr>
                  <td class="key">Lunch&nbsp;</td>
                  <td class="value">-&nbsp;{{ i.lunch }}</td>
                </tr>
                <tr>
                  <td class="key">Evening&nbsp;</td>
                  <td class="value">-&nbsp;{{ i.night }}</td>
                </tr>
                <tr>
                  <td class="key">dinner&nbsp;</td>
                  <td class="value">-&nbsp;{{ i.dinner }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="pe-5 me-5">
      <div
        style="
          background-color: #1dc5ce;
          color: #fff;
          width: 350px;
          border-radius: 3px;
          padding: 40px;
        "
      >
        <div class="text-center">
          <h4 style="color: #fff">Book the tour</h4>
        </div>

        <form #bookingForm="ngForm" (ngSubmit)="submitForm(bookingForm)">
          <div class="form-field pb-2">
            <label class="form-label-title">Username</label>
            <input
              name="name"
              placeholder="User Name"
              type="text"
              class="form-control"
              [(ngModel)]="userData.name"
              #nameInput="ngModel"
              required
              [ngClass]="{
                'is-invalid':
                  nameInput.invalid && (nameInput.dirty || nameInput.touched)
              }"
            />
            <div
              *ngIf="
                nameInput.invalid && (nameInput.dirty || nameInput.touched)
              "
            >
              <small class="text-danger">Name is required</small>
            </div>
          </div>

          <div class="form-field pb-2">
            <label class="form-label-title">Email Id</label>
            <input
              name="email"
              placeholder="Email"
              type="email"
              class="form-control"
              [(ngModel)]="userData.email"
              #emailInput="ngModel"
              email
              required
              [ngClass]="{
                'is-invalid':
                  emailInput.invalid && (emailInput.dirty || emailInput.touched)
              }"
              required
              email
            />
            <div *ngIf="emailInput.dirty && emailInput.hasError('required')">
              <small class="text-danger">Email Id is required</small>
            </div>
            <div *ngIf="emailInput.dirty && emailInput.hasError('email')">
              <small class="text-danger">Email format incorrect</small>
            </div>
          </div>
          <div class="form-field pb-2">
            <label class="form-label-title">Phonenumber</label>
            <input
              name="phone"
              placeholder="phonenumber"
              type="number"
              class="form-control"
              [(ngModel)]="userData.phone"
              #phoneNumberInput="ngModel"
              pattern="[0-9]{10}"
              required
              [ngClass]="{
                'is-invalid':
                  phoneNumberInput.invalid &&
                  (phoneNumberInput.dirty || phoneNumberInput.touched)
              }"
            />
            <div
              *ngIf="
                phoneNumberInput.dirty && phoneNumberInput.hasError('required')
              "
            >
              <small class="text-danger">Phonenumber is required</small>
            </div>
            <div
              *ngIf="
                phoneNumberInput.dirty && phoneNumberInput.hasError('pattern')
              "
            >
              <small class="text-danger">Phonenumber must be 10 digits</small>
            </div>
          </div>

          <div class="form-field pb-2">
            <label class="form-label-title">Tour Date</label>
            <input
              name="dateBook"
              placeholder="Date"
              type="date"
              class="form-control"
              [(ngModel)]="userData.dateBook"
              required
              [min]="userData.dateBook"
              [max]="userData.dateBook"
            />
            <div
              *ngIf="
                bookingForm.controls['dateBook']?.invalid &&
                bookingForm.controls['dateBook']?.touched
              "
            >
              <small class="text-danger">Date is required</small>
            </div>
          </div>

          <div class="form-group pb-2">
            <div class="item-field-tour-booking">
              <div class="input-number-ticket">
                <label class="form-label-title">Ticket count</label>
                <input
                  type="number"
                  name="number_ticket"
                  value="1"
                  min="1"
                  class="form-control"
                  [(ngModel)]="userData.numberTicket"
                  required
                />

                <div
                  *ngIf="
                    bookingForm.controls['number_ticket']?.invalid &&
                    bookingForm.controls['number_ticket']?.touched
                  "
                >
                  <small class="text-danger">count is required</small>
                </div>
              </div>
            </div>
          </div>

          <input
            class="btn2"
            type="submit"
            [disabled]="bookingForm.invalid"
            value="Booking now"
            [style.cursor]="bookingForm.invalid ? 'not-allowed' : 'pointer'"
          />
        </form>
      </div>
    </div>
  </div>

  <footer></footer>
</div>
