<div class="body">
  <div class="card">
    <div class="card-header">
      <h5>Add Destination</h5>
    </div>
    
     
   
   
    <div class="card-body">
      <form #destinationForm="ngForm" (ngSubmit)="submitForm(destinationForm)">
        <div class="mb-3">
          <label class="form-label-title">Destination Id</label>
          <input
            class="form-control"
            placeholder="Destination Id"
            type="number"
            name="categoryId"
            [(ngModel)]="categoryModel.id"
            required
          /></div>
        <div class="mb-3">
          <label class="form-label-title">Destination Name</label>
          <input
            class="form-control"
            placeholder="Destination Name"
            type="text"
            name="categoryName"
            [(ngModel)]="categoryModel.categoryName"
            required
          />
        </div>

       
        <div class="form-outline mb-3">
          <label class="form-label" for="username">Choose Image</label>
          <input
            type="file"
            class="input-file"
            [(ngModel)]="file"
            (change)="onFileChange($event)"
          />
        </div>

        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="destinationForm.invalid"
        >
        {{btnRef}}
        </button>
      </form>
   
    </div>
  </div>
</div>
