 @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Vina+Sans&display=swap');

:root {
  --primary-50: white;
  --primary-100:#c7e8ea;
  --primary-300: #1DC5CE;
  --primary-500: #181715;
  --primary-600:  white;
  --primary-700: #b45309;
  --primary-900: #78350f;
  --secondary-100:#ffffff;
  --secondary-500: #64748b;
  --secondary-900: #0f172a;
  --red-100: #fee2e2;
  --red-300: #fca5a5;
  --red-500: #ef4444;
  --red-700: #b91c1c;
  --green-300: #bef264;
  --green-500: #84cc16;
  --green-700: #4d7c0f;
  --border-radius: 4px;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: var(--primary-50);
}

/* text */
.text-primary {
  color: var(--primary-500) !important;
}

/* background */
.bg-primary {
  background-color: var(--primary-600) !important;
}

/* button */
.btn {
  border-radius: var(--border-radius);
}
.btn1 {
  background-color: #1dc5ce !important;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
}

.btn-primary {
  color: var(--secondary-100);
  background: var(--primary-500);
  border: none;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  color: var(--secondary-100);
  background: var(--primary-600) !important;
  border: none;
}

.btn-danger {
  color: var(--secondary-100);
  background: var(--red-500);
  border: none;
}

.btn-danger:hover {
  color: var(--secondary-100);
  background: var(--red-700);
  border: none;
}

.btn-success {
  color: var(--secondary-100);
  background: var(--green-500);
  border: none;
}

.btn-success:hover {
  color: var(--secondary-100);
  background: var(--green-700);
  border: none;
}

/* form */
.form-control,
.form-control:focus {
  color: var(--primary-500);
  background-color: var(--bs-body-bg);
  border-color: var(--primary-500);
  outline: 0;
 
}

.form-label {
  color: var(--primary-500);
}

.border {
  border-right-color: var(--primary-300) !important;
}

/* background color */
.bg-body-tertiary {
  background-color:#b8cdce;
}

/* Custom */
.error {
  background-color: var(--red-100);
  margin: 8px 0px;
  padding: 2px 6px;
  display: block;
  color: var(--red-700);
  border-radius: var(--border-radius);
  height: 30px;
  overflow: hidden;
  white-space: nowrap;
}

.sideBarActive,
.sideBarActive > a,
.sideBarActive > a:hover,
.sideBarActive > li:active {
  color: var(--primary-500);
  background-color: var(--primary-50) !important;
  padding: 8px;
}

.sideBarItem,
.sideBarItem > a {
  color: var(--primary-500);
  padding: 8px;
}
.active {
  background-color: var(--primary-100); 
}



.sideBarActive > .fa-solid {
  color: var(--primary-500);
}

.sideBarItem:hover {
  background-color: var(--primary-100);
  padding: 8px;
}

/* Icon */
.fa-solid {
  color: var(--primary-300);
}

.loader {
  position: absolute;
  min-height: 100vh;
  min-width: 100vw;
  opacity: 0.5;
  background-color: #000;
  z-index: 99;
  left: 0;
  top: 0;
}

.lottie-loader {
  width: 150px !important;
  height: 150px !important;
  position: absolute;
  top: 40%;
  left: 45%;
}
@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prata&display=swap');
 /* styling for heading */
.title-box{
  position: relative;
  margin-bottom: 60px;
}

.title-box.centered{
  text-align: center;
  max-width: 780px;
  margin: 0 auto 60px;
}

.title-box .subtitle{
  position: relative;
  font-size: 30px;
  line-height: 36px;
  text-transform: capitalize;
  font-family: 'Corinthia', cursive;
  font-weight: 700;
  color: #1DC5CE;
  margin: 0 0 30px;
}

.title-box h2{
  position: relative;
  font-weight: 700;
  text-transform: capitalize;
  margin: 0 0;
}

.title-box h2 span{
  position: relative;
  z-index: 1;
}

.title-box h2 .bg-vector{
  position: absolute;
  left: 0;
  top: 10px;
  width: 287px;
  height: 44px;
  background: url(assets/title-vector.svg) no-repeat;
  z-index: 0;
  -webkit-animation: shape-animation 3s infinite;
  animation: shape-animation 3s infinite;
}

@keyframes shape-animation {
  0% {
    width: 0; }
  15% {
    width: 95%; }
  85% {
    opacity: 1; }
  90% {
    width: 95%;
    opacity: 0; }
  to {
    width: 0;
    opacity: 0; } }
@keyframes shape-animation-2 {
  0% {
    width: 0; }
  15% {
    width: 125%; }
  85% {
    opacity: 1; }
  90% {
    width: 125%;
    opacity: 0; }
  to {
    width: 0;
    opacity: 0; } }

.title-box.centered h2 .bg-vector{
  center: 100%;
  transform:translateX(25%);
}

.title-box .text{
  position: relative;
  display: block;
  font-weight: 400;
  font-size: 16px;
  padding-top: 30px;
}


 /* tour card */
 
.trekking-section {
  position: relative;
}

.trekking-section .title-box {
  max-width: 880px;
  margin-bottom: 40px;
}

.trekking-section .title-box h2 {
  text-transform: none;
}

.tour-card.style-two .inner-box {
  background: #f3f7fa;
  border-color: #e8e8e8;
}

.tour-card.style-two .info {
  background: #1dc5ce;
  color: #ffffff;
}

.tour-card {
  position: relative;
  margin-bottom: 30px;
}
.tour-card .inner-box {
  position: relative;
  display: block;
  background: #ffffff;
  padding: 30px 30px 30px;
  border: 1px solid #dedede;
  border-radius: 8px;
}

.tour-card .image-box {
  position: relative;
  margin-bottom: 30px;
}

.tour-card .image-box .price {
  position: absolute;
  left: 20px;
  top: 20px;
  line-height: 20px;
  padding: 10px 15px;
  background: #1dc5ce;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
}

.tour-card .image-box .image {
  position: relative;
  background: #101010;
  border-radius: 8px;
  overflow: hidden;
}

.tour-card .image-box .image img {
  position: relative;
  width: 100%;
  border-radius: 8px;
  -webkit-transition: all 600ms ease;
  -ms-transition: all 600ms ease;
  -o-transition: all 600ms ease;
  -moz-transition: all 600ms ease;
  transition: all 600ms ease;
}

.tour-card .inner-box:hover .image img {
  opacity: 0.75;
  transform: scale(1.05, 1.05);
}

.tour-card .info {
  position: relative;
  padding: 14px 10px 14px 16px;
  line-height: 30px;
  margin: -29px 20px 0px;
  background: #eaf6f6;
  font-size: 14px;
  font-weight: 500;
  color: #505050;
  border-radius: 4px;
}

.tour-card .info .icon {
  position: relative;
  padding-right: 5px;
}

.tour-card h4 {
  position: relative;
  font-weight: 700;
  color: #10221b;
  margin-bottom: 20px;
}

.tour-card h4 a {
  color: #10221b;
}

.tour-card h4 a:hover {
  color: #1dc5ce;
}

.tour-card .lower-content .text {
  position: relative;
  padding-top: 30px;
}

.tour-card .bottom-box {
  position: relative;
  padding-top: 28px;
  margin-top: 30px;
  border-top: 1px dashed #cfcfcf;
}

.tour-card .bottom-box .more-link {
  position: relative;
  float: left;
}

.tour-card .bottom-box .more-link a {
  color: #10221b;
  display: inline-block;
  vertical-align: top;
  line-height: 26px;
}

.tour-card .bottom-box .more-link i {
  position: relative;
  display: inline-block;
  top: 0;
  vertical-align: middle;
  padding-left: 10px;
  line-height: 26px;
  z-index: 1;
}

.tour-card .bottom-box .more-link i img {
  position: relative;
  top: -1px;
  max-height: 12px;
  -webkit-filter: brightness(0);
  -ms-filter: brightness(0);
  -moz-filter: brightness(0);
}

.tour-card .bottom-box .more-link a:hover i img {
  -webkit-filter: none;
  -ms-filter: none;
  -moz-filter: none;
}

.tour-card .bottom-box .more-link a:hover {
  color: #1dc5ce;
}
/* tour destination top banner */
.inner-banner {
  position: relative;
  padding-top: 75px;
  padding-bottom: 75px;
}

.inner-banner .image-layer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

.inner-banner .content-box {
  position: relative;
  text-align: center;
}

.inner-banner .content-box h2 {
  position: relative;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
}

.inner-banner .bread-crumb {
  position: relative;
  line-height: 24px;
  padding-left: 44px;
}

.inner-banner .bread-crumb .icon-home {
  position: absolute;
  left: -44px;
  top: 0px;
  width: 34px;
  height: 34px;
  font-size: 14px;
  line-height: 34px;
  text-align: center;
  background: #1dc5ce;
  color: #ffffff;
  border-radius: 50%;
}

.inner-banner .bread-crumb ul li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  line-height: 24px;
  text-transform: capitalize;
  color: #ffffff;
}

.inner-banner .bread-crumb ul li:last-child {
  margin-right: 0;
}
  
 /* admin side table */
 .table-desi {
  margin-top: 20px;
  border-radius: 5px;
}

.Booking-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  
}

.Booking-table th,
.Booking-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #dee2e6;
}

.Booking-table th {
  background-color:var(--primary-300) !important;
  color: black;
}

  
 
  
 
  

  
  
  
  
 
  
 
  
 
 
  
  
  
